<div ng-controller="BankController as ctrl">
    <div ng-show="ctrl._form">
        <legend>Banca</legend>
        <!-- Formulário para novos estudantes e edição de estudante -->
        <div class="form-bank">
          <form class="form-horizontal" novalidate>
            <fieldset>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="date">Data</label>
                <div class="col-md-5">
                  <input id="date" name="date" type="date" placeholder="Data da banca" ng-model="ctrl.bank.date" class="form-control input-md" required>
                  <span class="help-block">Digite a data da banca</span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="date">Professor 1</label>
                <div class="col-md-5">
                  <select class="form-control" name="teacher1" id="teacher1" ng-model="ctrl.currentTeachers[0]">
                    <option ng-repeat="teacher in ctrl.teachers" ng-value="teacher.id" ng-selected="teacher.id == ctrl.currentTeachers[0]">{{teacher.name}}</option>
                  </select>
                  <span class="help-block">Selecione o professor</span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="date">Professor 2</label>
                <div class="col-md-5">
                  <select class="form-control" name="teacher2" id="teacher2" ng-model="ctrl.currentTeachers[1]">
                    <option ng-repeat="teacher in ctrl.teachers" ng-value="teacher.id" ng-selected="teacher.id == ctrl.currentTeachers[1]">{{teacher.name}}</option>
                  </select>
                  <span class="help-block">Selecione o professor</span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="date">Professor 3</label>
                <div class="col-md-5">
                  <select class="form-control" name="teacher2" id="teacher2" ng-model="ctrl.currentTeachers[2]">
                    <option ng-repeat="teacher in ctrl.teachers" ng-value="teacher.id" ng-selected="teacher.id == ctrl.currentTeachers[2]">{{teacher.name}}</option>
                  </select>
                  <span class="help-block">Selecione o professor</span>
                </div>
              </div>

              <div class="form-group">
                  <div class="col-md-4 col-md-offset-4">
                      <button class="btn btn-success" type="submit" ng-click="ctrl.saveBank(); ">Salvar</button>
                  </div>
                  <div class="col-md-4">
                      <button class="btn btn-danger" type="submit" ng-click="ctrl.clearBank(); ">Desmarcar</button>
                  </div>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
</div>