<div class="labels" style="display: none;">
  <img src="/assets/timeline/icons/presentation.png" id="label-presentation">
  <img src="/assets/timeline/icons/warning.png" id="label-important">
  <img src="/assets/timeline/icons/document.svg" id="label-document">
</div>
<script type="text/javascript" src="/assets/timeline/fabric.min.js"></script>
<script type="text/javascript" src="/assets/timeline/helpers.js"></script>
<script type="text/javascript" src="/assets/timeline/admin/pattern.js"> </script>
<script type="text/javascript" src="/assets/timeline/header.js"></script>
<script type="text/javascript" src="/assets/timeline/admin/body.js"> </script>
<div class="row" ng-controller="CalendarController as ctrl">
  <div class="col-md-10 col-md-offset-1">
    <fieldset>

      <!-- Form Name -->
      <legend>Calendários</legend>

      <!-- Select Basic -->
      <div class="form-group row">
        <label class="col-md-4 control-label text-right" for="year">Ano</label>
        <div class="col-md-4">
          <select id="year" name="year" class="form-control" ng-model="ctrl.calendar.year" ng-options="year as year for year in ctrl.years" ng-change="ctrl.updateTable()">
            <option value="2015" selected>2015</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group row">
        <label class="col-md-4 control-label text-right" for="half">Semestre</label>
        <div class="col-md-4">
          <div ng-repeat="half in ctrl.halfs" class="box-radio">
            <label for="half">{{half}}</label>
            <input type="radio" ng-model="ctrl.calendar.half" name="half" id="half" ng-value="half" ng-change="ctrl.updateTable()">
          </div>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group row">
        <label class="col-md-4 control-label text-right" for="tcc">TCC</label>
        <div class="col-md-4">
          <div ng-repeat="tcc in ctrl.tccs" class="box-radio">
            <label for="tcc">{{tcc}}</label>
            <input type="radio" ng-model="ctrl.calendar.tcc" name="tcc" id="tcc" ng-value="tcc" ng-change="ctrl.updateTable()">
          </div>
        </div>
      </div>

    </fieldset>
    </form>

    <br><br><br>

    <div class="content" ng-show="ctrl._ctrlContent == 1">
        <table class="table table-bordered">
          <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Link</th>
            <th>Descrição</th>
            <th>Salvar</th>
            <th>Excluir</th>
          </tr>
          <form action="#" name="ctrl.formCalendar">
              <tr ng-repeat="item in ctrl.items track by $index">
                <td><input type="text" ng-model="item.title" class="form-control" placeholder="Título" required></td>
                <td>
                  <select id="type" ng-model="item._type" name="type" class="form-control">
                    <option value="document">Documento</option>
                    <option value="presentation">Apresentação</option>
                    <option value="important">Importante</option>
                  </select>
                </td>
                <td><input type="date" ng-model="item.date" class="form-control" placeholder="Data" required></td>
                <td><input type="text" ng-model="item.link" class="form-control" placeholder="Link" ng-model-options="{ updateOn: 'blur' }" required></td>
                <td><textarea class="form-control" ng-model="item.description" rows="1">Descrição</textarea></td>
                <td><button class="btn btn-success" ng-click="ctrl.save(item);">Salvar</button></td>
                <td><a ng-click="ctrl.deleteItem(item)" href="#"><span class="glyphicon glyphicon-remove"></a></span></td>
              </tr>
            </table>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary" ng-click="ctrl.items.push(that._baseItem);">Adicionar item</button>
            </div>
            <div class="col-md-12 text-center" ng-show="ctrl.calendar.id">
              <br>
              <button class="btn btn-primary" ng-click="ctrl.editTimeline()">Editar timeline</button>
            </div>
        </form>
    </div>

    <div class="row" ng-show="ctrl._ctrlContent == 2">
      <div style="overflow: scroll;">
        <canvas id="c" width="1600" height="500"></canvas>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary" ng-click="ctrl.saveTimeline();">Salvar timeline</button>
      </div>
    </div>
  </div>
</div>
