<div class="row" ng-controller="TeacherController as ctrl">
  <legend>Gestão de professores</legend>
  <div class="list-teachers col-xs-12" ng-hide="ctrl._formTeacher">
    <table class="table table-hovered">
      <tr>
        <th>Nome</th>
        <th>Tipo de acesso</th>
        <th>Lattes</th>
        <th>Área de atuação</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      <tr ng-repeat="teacher in ctrl.teachers">
        <td>{{teacher.name}}</td>
        <td>{{teacher.legendAccess}}</td>
        <td>{{teacher.lattes}}</td>
        <td>{{teacher.atuacao}}</td>
        <td><a ng-click="ctrl.formTeacher(teacher)" href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td><a ng-click="ctrl.deleteTeacher(teacher)" href="#"><span class="glyphicon glyphicon-remove"></a></span></td>
      </tr>
    </table>
    <div class="row text-center">
      <button ng-click="ctrl.formTeacher()" class="btn btn-primary new-teacher">Novo professor</button>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1" ng-show="ctrl._formTeacher">
    <form class="form-horizontal" novalidate>
      <fieldset>

        <!-- Form Name -->
        <legend>Gestão de professores</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Nome</label>
          <div class="col-md-6">
            <input id="name" name="name" ng-model="ctrl.currentTeacher.name" type="text" placeholder="Nome" class="form-control input-md" required="">
            <span class="help-block">Digite o nome do professor</span>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="access">Tipo de acesso</label>
          <div class="col-md-6">
            <select id="access" name="access" ng-model="ctrl.currentTeacher.access" class="form-control">
              <option value="responsible">Responsável pelo TCC</option>
              <option value="tcc1">Professor de TCC1</option>
              <option value="teacher">Professor</option>
            </select>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="lattes">Lattes</label>
          <div class="col-md-6">
            <input id="lattes" name="lattes" ng-model="ctrl.currentTeacher.lattes" type="text" placeholder="Curriculum Lattes" class="form-control input-md" required="">
            <span class="help-block">Digite o link para o curriculum lattes do professor</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="atuacao">Área de atuação</label>
          <div class="col-md-6">
            <input id="atuacao" name="atuacao" ng-model="ctrl.currentTeacher.atuacao" type="text" placeholder="Área de atuação" class="form-control input-md" required="">
            <span class="help-block">Digite a área de atuação do professor</span>
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save"></label>
          <div class="col-md-8">
            <button id="save" name="save" ng-click="ctrl.newTeacher()" class="btn btn-primary">Salvar</button>
            <button id="back" name="back" ng-click="ctrl.listTeachers()" class="btn btn-warning">Voltar</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>