<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><h3>Bancas</h3></div>
        <div class="modal-body"></div>
    </div>
  </div>
</div>
<!-- <div class="navbar navbar-inverse footer">
  <div class="col-md-12">
    <div class="right">
      UTFPR - TCC
    </div>
    <div class="left">
      Desenvolvido por Érico Dias.
    </div>
  </div>
</div> -->