<!--<div class="row navbar-inverse footer">-->
  <!--<div class="col-md-12">-->
    <!--<div class="right">-->
      <!--UTFPR - TCC-->
    <!--</div>-->
    <!--<div class="left">-->
      <!--Desenvolvido por Érico Dias.-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->