<%= form_tag method: :post do %>
  <div class="form-group">
    <label>Observações</label>
    <%= text_area_tag :note, "", class: 'form-control' %><br>
    <%= button_tag glyph(:check) + " Reprovar item",type: "submit", class: "btn btn-warning" %>
  </div>
<% end %>