<legend>Orientações</legend>
<p>Título: <%= @orientation.title %></p>
<p>Data: <%= @orientation.date.strftime('%d/%m/%Y') %></p>
<p>Descrição: <br>
<%= @markdown.render(@orientation.description).html_safe %></p>
