<% if(@student.timeline.size > 0) %>
  <div class="legend">
  Legenda: <div class="btn legend-btn btn-timeline-pending"></div> item pendente <div class="btn legend-btn btn-timeline-success"></div> item realizado com sucesso <div class="btn legend-btn btn-timeline-warning"></div> item deve ser entregue em breve <div class="btn legend-btn btn-timeline-repproved"></div> item reprovado <div class="btn legend-btn btn-timeline-expired"></div> data expirada
  </div>
  <!-- TENTAR COM IFRAME -->
  <% @student.timeline.each do |timeline| %>
    <iframe src="<%= student_show_timeline_path(timeline) %>" frameborder="0" width="100%" height="540px"></iframe>
    <br><br><br>
  <% end %>
<% else %>
  Não há nenhum TCC cadastrado.
<% end %>