<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <table>
            <tr colspan="2">
                <td><label>Ano: </label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <select class="form-control" name="year">
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><label>Semestre: </label></td>
            </tr>
            <tr>
                <td>1º <input type="radio" value="1" name="half" checked></td>
                <td>2º <input type="radio" value="2" name="half"></td>
            </tr>
            <tr>
                <td colspan="2">TCC: </td>
            </tr>
            <tr>
                <td>1 <input type="radio" name="tcc" value="1" checked></td>
                <td>2 <input type="radio" name="tcc" value="2"></td>
            </tr>
            <tr>
                <td colspan="2"><a href="#" class="go btn btn-info">Avançar</a></td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.go').on('click', function(){
            window.location.href = "/responsavel/calendarios/"+$('[name=year]').val()+"/"+$('[name=half]').val()+"/"+$('[name=tcc]').val();
        });
    });
</script>