<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <div class="form-group">
            <label>Ano: </label><br>
            <select class="form-control" name="year">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
            </select>
        </div>
        <div class="form-group">
            <label>Semestre: </label><br>
            1º <input type="radio" value="1" name="half" checked>
            2º <input type="radio" value="2" name="half">
        </div>
        <div class="form-group">
            <label>TCC: </label><br>
            1 <input type="radio" name="tcc" value="1" checked>
            2 <input type="radio" name="tcc" value="2">
        </div>
        <div class="form-group">
            <!-- deve ser dinâmico -->
            <a href="#" class="go btn btn-info">Avançar</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.go').on('click', function(){
            window.location.href = "/responsavel/calendarios/"+$('[name=year]').val()+"/"+$('[name=half]').val()+"/"+$('[name=tcc]').val();
        });
    });
</script>