<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <div class="form-group">
            <label>Ano: </label><br>
            <select class="form-control" name="year">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
            </select>
        </div>
        <div class="form-group">
            <label>Semestre: </label><br>
            1º <input type="radio" name="half" checked>
            2º <input type="radio" name="half">
        </div>
        <div class="form-group">
            <label>TCC: </label><br>
            1 <input type="radio" name="tcc" checked>
            2 <input type="radio" name="tcc">
        </div>
        <div class="form-group">
            <!-- deve ser dinâmico -->
            <a href="/responsavel/calendarios/2015/1/1" class="btn btn-info">Avançar</a>
        </div>
    </div>
</div>