<% site_title 'Fluxo de Atividades' %>
<div class="row">

  <div class="col-sm-12">

    <header class="page-header">
      <h2>Fluxo de atividades</h2>
    </header>      
    
    <article class="text-content">
      <header class="page-header">
        <h2>TCC 1</h2>
      </header>
      <iframe src="<%= site_timeline_path(1) %>" style="width: 100%; height: 600px; border: none;" scrolling="no"> </iframe>
    </article>
    
    <article class="text-content">
      <header class="page-header">
        <h2>TCC 2</h2>
      </header>
      <iframe src="<%= site_timeline_path(2) %>" style="width: 100%; height: 600px; border: none;" scrolling="no"></iframe>
    </article>
  </div> 

</div>