<% site_title 'TCCs em Andamento' %>

<div class="row">
  <div class="col-sm-12">

    <header class="page-header">
      <h2>TCCs em andamento</h2>
    </header>

    <section>
      <header class="page-header">
        <h3>Propostas de TCC</h3>
      </header>

      <%= render 'site/approved_tcc_one', approveds: @proposals, type: 'Proposta' %>
    </section>

    <section>

      <header class="page-header">
        <h3>Projetos de TCC</h3>
      </header>

      <%= render 'site/approved_tcc_one', approveds: @projects, type: 'Projeto' %>
    </section>

  </div>
</div>
