<div ng-controller="StudentController as ctrl">
    <legend>Entrega de documentos</legend>
    <h3>Gostaria de entregar o seguinte documento:</h3>
    <table class="table table-bordered">
        <tr>
            <td>Documento:</td>
            <td>{{ctrl.item.base.title}}</td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td>{{ctrl.item.base.description}}</td>
        </tr>
        <tr>
            <td>Anexo: (só são aceitos arquivos .pdf e .jpg)</td>
            <td><input id="file" name="file" file-model="ctrl.itemFile" class="input-file" type="file"></td>
        </tr>
    </table>
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="save"></label>
      <div class="col-md-4 col-md-offset-1">
        <button id="save" name="save" class="btn btn-primary" ng-click="ctrl.sendFile();">Enviar</button>
      </div>
    </div>
</div>