<div class="labels" style="display: none;">
  <img src="/assets/timeline/icons/presentation.png" id="label-presentation">
  <img src="/assets/timeline/icons/warning.png" id="label-important">
  <img src="/assets/timeline/icons/document.svg" id="label-document">
</div>
<script type="text/javascript" src="/assets/timeline/fabric.min.js"></script>
<script type="text/javascript" src="/assets/timeline/helpers.js"></script>
<script type="text/javascript" src="/assets/timeline/view/pattern.js"> </script>
<script type="text/javascript" src="/assets/timeline/header.js"></script>
<script type="text/javascript" src="/assets/timeline/view/body.js"> </script>
<script type="text/javascript" src="/assets/timeline/view/events.js"> </script>
<div class="row" ng-controller="TimelineController as ctrl">
    <div class="table">
        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Visualizar timeline</legend>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="tcc">TCC</label>
              <div class="col-md-4">
                <div ng-repeat="tcc in [1,2]" class="box-radio">
                  <label for="tcc">{{tcc}}</label>
                  <input type="radio" ng-model="ctrl.tcc" name="tcc" id="tcc" ng-value="tcc" ng-change="ctrl.updateTimeline()">
                </div>
              </div>
            </div>

          </fieldset>
        </form>
        <br><br><br>
        <div class="row col-md-12 text-center" ng-show="ctrl._ctrlTimeline">
          <div style="overflow: scroll;">
            <canvas id="c" width="1600" height="500"></canvas>
          </div>
          <br>
          <br><br>
        </div>
    </div>
</div>